/.idea/shelf/Uncommitted_changes_before_Update_at_02-08-2026_03_20_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_02-08-2026_03_20_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_03-08-2026_02_30_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_02-08-2026_03_20__Changes_.xml
